@import "compass/css3";
@import "vars/_colors";
@import "_materialize.scss";
//@import "vars/*";



body {
	font-size: 14px;
}

footer {
	margin-top: 100px;
	color: white;
	border-top: 1px solid #888;
}

.form_wrapper {
	padding: 20px 0 20px 0;
	margin: 20px 0 20px 0;
}

.error-message {
	color: red;
	margin-bottom: 15px;
}

.subnavigation {
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.95);

	> .row {
		padding-top: 15px;
	}
}

.flex-images { 
	overflow: hidden; 
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	
	.menu {
		position: absolute;
		padding: 0 10px 0 10px;
		margin: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		background-color: rgba(51, 51, 51, 0.8);
		font-size: 25px;
		display: none;

		&:active {
			display: block;
		}

		li {
			display: inline-block;
			margin-right: 10px;

			&:last-of-type {
				float: right;
			}
		}

		a {
			color: white;

			&:hover {
				color: #ff00d4;
			}
		}
	}

	.item { 
		float: left; 
		margin: 4px; 
		border: 1px solid #eee; 
		box-sizing: content-box; 
		overflow: hidden; 
		position: relative;  
		//background-color: #ddd;
		text-align: center;
		
		img { 
			width: auto; height: 100%; 
		}

		&:hover {
		 	.menu {
				display: block;
			}
		}
	}
}
